pkgbase = linux-cachyos
	pkgdesc = Linux BORE + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements.
	pkgver = 6.16.4
	pkgrel = 5
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.16.4.tar.xz
	source = config
	source = myconfig
	source = 0000-Revert-drm-dp-Change-AUX-DPCD-probe-address-from-DPC.patch
	source = 0001-drm-edid-Define-the-quirks-in-an-enum-list.patch
	source = 0002-drm-edid-Add-support-for-quirks-visible-to-DRM-core-.patch
	source = 0003-drm-dp-Add-an-EDID-quirk-for-the-DPCD-register-acces.patch
	source = 0004-drm-amd-display-Disable-DPCD-Probe-Quirk.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.16/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.16/misc/dkms-clang.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.16/sched/0001-bore-cachy.patch
	b2sums = 251feef2f995c155850eac2fce5b89f37f39e9f13b6a4e6873370fdc69654692c6bf6c92f04ca7c0b5fd6088d74442afb68db71d2cc18691e23c61b0be714f34
	b2sums = ca08c1ad172af846ccf78e3694713a68191fec6e59fba5e0a6c90ba228fac5eab77fb8603f35190586d77f6acbf6f87fdb3a1c835d2d68e635c5e1e4d7e7ebe8
	b2sums = 4011c4cce0375da66691e321911230ef54af99b6bb19a45bf7743b5388035d3d02835733b3fd1daea564f96275a38ce71f17504089428648d3dd8bf151a9bb3e
	b2sums = eb3fd37611eb30452058b1b0f5c51e94d55f8a0857a9692d37a151f60e5fc3fade6422861b4c708cf11004e3f887b41754db1867cb24d57f858efd5f932c202d
	b2sums = 56d6a37a3a84816749643e5f9a4b08f47540f12001ee9f31818fff6d61a99c5eae26748ec76c2181595c09bee8a6e96babd248100932c64b6188909024880f7a
	b2sums = 9711dfaa48eb9ae8680ff7837272f3f114d17dc3354f9c6ff9c998462b0a522111308ce5fa94d240830f684387cc5d35863ad90cd420b34c168192d38120eca1
	b2sums = 402ffc5e0dad5801ea6301f7dce46cbd5043d2da43544a72ded1bfff314e4e21212514c696d082578c3598425240a5f90127e533eb4cadeb9498906cd74023cc
	b2sums = 4e60f422eca8972175e1a00c927284243f8d0c39d4e8346e7505f1d087ce96d08be95b8dbb2b735c9b895137fd46dc49527bbfd305502079279c34628ba7c212
	b2sums = 10333c7ee4e2a30fc109d138e4d9b09ae49cd0396e0e72a5379ba7ab344dfddf4f26b00788a497c67b151ca3cfd56ef50c4cf99c9928214ca9215a2a1f6025e7
	b2sums = c7294a689f70b2a44b0c4e9f00c61dbd59dd7063ecbe18655c4e7f12e21ed7c5bb4f5169f5aa8623b1c59de7b2667facb024913ecb9f4c650dabce4e8a7e5452
	b2sums = c7f5b2e6c1f95ec961666c338057501a41f3e8de584f0985021b4c5c0ce5ddf738b56f2c50fe33d879a9cddd2236c26fb995c03445cab93580379d2e2c4669cc

pkgname = linux-cachyos
	pkgdesc = The Linux BORE + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE
	provides = linux-cachyos-lto=6.16.4-5
	replaces = linux-cachyos-lto

pkgname = linux-cachyos-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE + LTO + AutoFDO + Propeller Cachy Sauce Kernel by CachyOS with other patches and improvements. kernel
	depends = pahole
	depends = linux-cachyos
	depends = clang
	depends = llvm
	depends = lld
	provides = linux-cachyos-lto-headers=6.16.4-5
	replaces = linux-cachyos-lto-headers
